In [ ]:
##ordered, do not allow duplicates, multiple data types, mutable
##key : value

In [1]:
dt = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print(dt)

print(type(dt))

{'name': 'John', 'age': 30, 'city': 'New York'}
<class 'dict'>

In [2]:
dt = {
    "name": ["John", "Doe"],
    "age": {"age":30},
    "city": "New York"
}

print(dt)

{'name': ['John', 'Doe'], 'age': {'age': 30}, 'city': 'New York'}

In [6]:
dt = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "city" : "hsd"
}

# print(dt["name"])
# dt["name"] = "Jane"
print(dt)

{'name': 'John', 'age': 30, 'city': 'hsd'}

In [7]:
##constructor 
dt = dict(name="John", age=30, city="New York")

print(dt)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [29]:
dt = {
    "name": ["John", "Doe"],
    "age": 30,
    "city": "New York",
    "no": ("John")
}

# print(dt.get("name"))
# print(dt.items())
# print(dt.keys())
# print(dt.values())

# dt["name"].append("Smith")

# dt["name"].pop()

# dt.pop("name")

# dt.popitem()

# del dt["name"]
# dt.update({"name": "Jane", "age": 40})

# dt.clear()

dt.setdefault("surname", "Jane")


print(dt)

{'name': ['John', 'Doe'], 'age': 30, 'city': 'New York', 'no': 'John', 'surname': 'Jane'}