In [ ]:
## loop -- for loop, while

In [ ]:
##for loop- iterable pura iterate karta hai list, tuple, set, dictionary
lst = [1,2,3,4,5]
for i in lst:
    print(i)

1
2
3
4
5

In [4]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [9]:
dt = {
    "name" : "rishi",
    "age" : 20,
    "gender" : "male"

}

for i,j in dt.items():
    print(i,j)

name rishi
age 20
gender male

In [11]:
lst = [22,3,4,432,1,33,1,132,3,2,1,11,2]
for i in lst:
    if i%2==0:
        print(i,"--> even")
    else:
        print(i,"-->odd")

22 --> even
3 -->odd
4 --> even
432 --> even
1 -->odd
33 -->odd
1 -->odd
132 --> even
3 -->odd
2 --> even
1 -->odd
11 -->odd
2 --> even

In [12]:
##nested for loop 
lst = [1,2,3]
lst1 = ["red","blue","green"]

for i in lst:
    for j in lst1:
        print(i,j)

1 red
1 blue
1 green
2 red
2 blue
2 green
3 red
3 blue
3 green

In [13]:
for i in "upflairs":
    print(i)

u
p
f
l
a
i
r
s

In [14]:
##break and continue
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [15]:
##continue
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [19]:
for i in range(1,10):
    pass

In [24]:
name = "my age is 1"

for i in name:
    if i == "1":
        print("value found")

    else:
        print("value not found")

value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value not found
value found