In [ ]:
##dict -- ordered, duplicates are not allowed , chnageable 
## key:value pairs

In [1]:
dt = {
    'name': 'John',
    'age': 30,
    'city': 'New York'
}

print(dt)
print(type(dt))

{'name': 'John', 'age': 30, 'city': 'New York'}
<class 'dict'>

In [2]:
dt = {
    'name': ['John', 'jai', "mohan"],
    'age': 30,
    'city': 'New York'
}

print(dt)

{'name': ['John', 'jai', 'mohan'], 'age': 30, 'city': 'New York'}

In [ ]:
dt = {
    'name': {"subname" : 'John'},
    'age': 30,
    'city': 'New York',
    'city' : "jaipur",
    "city": "delhi"             #
}
dt

{'name': {'subname': 'John'}, 'age': 30, 'city': 'delhi'}

In [30]:
##one more way of creating dict ===>> dictionary constructor

dt = dict(name = "jai", age = 13, city = "jaipur")

print(dt)
print(type(dt))

{'name': 'jai', 'age': 13, 'city': 'jaipur'}
<class 'dict'>

In [32]:
dt = {
    'name': ['John', 'jai', "mohan"],
    'age': 30,
    'city': 'New York'
}

# print(dt["name"])
# print(dt["age"])
# dt['age'] = 40
dt["name"][1] = ["rohan","shyam"]
dt

{'name': ['John', ['rohan', 'shyam'], 'mohan'], 'age': 30, 'city': 'New York'}

In [25]:
lst = [10,20,[30,40,[50,60],70],80]
lst[2][2][1] = 600
lst

[10, 20, [30, 40, [50, 600], 70], 80]

In [ ]:
dt = {
    'name': 'John',
    'age': 30,
    'city': 'New York',
    "class" : 1
}

# dt.get("age")
# dt.items()
# dt.keys()
# dt.values()
# dt.pop("class")
# dt.popitem()
# dt.update({'colours': "red"})
# dt.update({"class":3})
# dt.setdefault("colour", "green")                            ##case 1 
# dt.setdefault("class", 22)                                  ##case 2 -- agar key present hai toh koi bhi chnages nahi honge
# dt.setdefault("colour")                                     ##case 3
# dt.setdefault(key,value)
dt

{'name': 'John', 'age': 30, 'city': 'New York', 'class': 1, 'colour': None}