In [ ]:
##dict -- ordered , mutable , do not allow duplicate values 
## key -- value pair 

## name : jai

In [14]:
dt = {
    "name" : "jai",
    "age" : 22,
    "company" : "upflairs"
}
print(dt)
print(type(dt))

{'name': 'jai', 'age': 22, 'company': 'upflairs'}
<class 'dict'>

In [4]:
dt["company"] = "xyz"
dt

{'name': 'jai', 'age': 22, 'company': 'xyz'}

In [5]:
len(dt)

3

In [10]:
dt.keys()
dt.values()
dt.items()
dt.get("name")

'jai'

In [13]:
# dt.pop("name")
dt.popitem()

('company', 'upflairs')

In [15]:
dt.update({"name" : "jaiiii"})
dt

{'name': 'jaiiii', 'age': 22, 'company': 'upflairs'}

In [19]:
car = {
  "brand": ["a","b","c"],
  "model": "Mustang",
  "year": 1964
}

# x = car.setdefault("model", "maruti")

# print(x)
car

{'brand': ['a', 'b', 'c'], 'model': 'Mustang', 'year': 1964}